body {
    padding: 0;
	margin: 0;
	box-sizing: content-box;
	background-color: cornsilk;
	font-family: Arial, Helvetica, sans-serif;
	font-size: large;

}

ul,
ol,
menu {
	list-style: none;
}

.title {
	display: inline-block;
	vertical-align:bottom;
	padding: 10px;
	margin-left: 5px; 
	margin-bottom: -10px;

}
.logo 	{
	padding-left: 15px;
	padding-top: 15px;
	background-color: white;

}

.container {
	background-color: white;
	text-align:left;
	max-width: 1000px;
	margin: 0px auto;
	border-radius: 5px;
	margin-top: 50px;
	padding-bottom: 50px


}


.button {
	margin-left: 40px;
	border-bottom: 2px solid cornsilk;
	padding: 20px;
}

.blue-button {
	background-color: rgba(0, 107, 107, 0.556);
	border-radius: 5px;
	border-color:transparent;
	padding: 5px;
	color: white;
	
}
.white-button {
	background-color: white;
	border-radius: 5px;
	border-color: gray;
	padding: 5px;
	color: gray;
}

.gren-check {
	color: rgb(66, 250, 10);
	font-size:larger;
	border-style: solid;
	border-radius: 45%;
}

.red-cross {
	color: red;
	font-size: larger;
	border-style: solid;
	border-radius: 45%;

}

.editorial {
	font-size: small;
	border-style: solid ;
	background-color: rgba(0, 107, 107, 0.556) ;
	border-color: transparent;
	border-radius: 20px;
	padding: 4px;
	color: aliceblue;

}
.mobile {
	font-size: small;
	border-style: solid ;
	background-color:orange;
	border-color: transparent;
	border-radius: 20px;
	padding: 4px;
	color: aliceblue;

}
.sales {
	font-size: small;
	border-style: solid ;
	background-color:rgb(72, 106, 21);
	border-color: transparent;
	border-radius: 20px;
	padding: 4px;
	color: aliceblue;


}

.website {
	font-size: small;
	border-style: solid ;
	background-color:rgb(249, 9, 9);
	border-color: transparent;
	border-radius: 20px;
	color: aliceblue;
	padding: 4px;
}

.q1 {
	font-size: small;
	border-style: solid ;
	background-color: violet;
	border-color: transparent;
	border-radius: 20px;
	color: aliceblue;
	padding: 4px;
}

.recruiting {
	font-size: small;
	border-style: solid ;
	background-color:green;
	border-color: transparent;
	border-radius: 20px;
	color: aliceblue;
	padding: 4px;
}